@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="container" style="margin:70px">

    <h1 style="color:#12151e;">@ViewData["Title"]</h1>
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>
