@model movies_project.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 style="color:#12151e; margin-top: 50px;">Create</h1>

    <h4 style="color:#12151e;">Movie</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Story" class="control-label"></label>
                    <input asp-for="Story" class="form-control" />
                    <span asp-validation-for="Story" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Director" class="control-label"></label>
                    <input asp-for="Director" class="form-control" />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateShow" class="control-label"></label>
                    <input asp-for="DateShow" class="form-control" />
                    <span asp-validation-for="DateShow" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rate" class="control-label"></label>
                    <input asp-for="Rate" class="form-control" />
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Poster" class="control-label"></label>
                    <input asp-for="Poster" class="form-control" />
                    <span asp-validation-for="Poster" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Runtime" class="control-label"></label>
                    <input asp-for="Runtime" class="form-control" />
                    <span asp-validation-for="Runtime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Actor1" class="control-label"></label>
                    <input asp-for="Actor1" class="form-control" />
                    <span asp-validation-for="Actor1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Actor2" class="control-label"></label>
                    <input asp-for="Actor2" class="form-control" />
                    <span asp-validation-for="Actor2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Actor3" class="control-label"></label>
                    <input asp-for="Actor3" class="form-control" />
                    <span asp-validation-for="Actor3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Actor4" class="control-label"></label>
                    <input asp-for="Actor4" class="form-control" />
                    <span asp-validation-for="Actor4" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GenreId" class="control-label"></label>
                    <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Trailer" class="control-label"></label>
                    <input asp-for="Trailer" class="form-control" />
                    <span asp-validation-for="Trailer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-primary" style="margin-bottom: 20px;" asp-action="Index">Back to List</a>
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

